*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:root{
    --salmon:#ff8873;                
    --black: #000000;
    --white: #ffffff;
    --blue:#0000ff;
    --darkblue:#00009e;
}
.light-theme{
    --FontColor: #000000;
    --bg: #ff8873;
    --bgFont: #000000;
    --BtnFontColor: #000000;
    --BtnBg: #000000;
    --Foot: #ffffff;
}

 .dark-theme{
    --FontColor: #ffffff;
    --bg: #000000;
    --bgFont:#ffffff;
    --BtnFontColor: #000000;
    --BtnBg: #ff8873;
    --Foot: #000000;
 }



body{
    background-color: var(--bg);
}
 nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--BtnBg);
 }
 nav button{
    padding: 5px 10px;
    font-size: large;
 }
 nav .BtnTema{
    background-color: #030357;
    color: #ffffff;
    border-radius: 0 15px 0 15px;
 }
nav .BtnTema:hover{
    background-color: #2b2bbd;
}
 nav .itemNav{
    background-color: transparent;
    border: none;
 }
.itemNav a{
    color: var(--Foot);
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
}
 nav button:hover{
    transform: tranlateX(1vh) rotate(10deg);
    transition-duration: 1s;
    padding-inline: 15px;
}
nav .itemNav:hover{
    border: 1px solid rgb(102, 102, 102);
    border-radius: 15px;
}
nav .theme-rs{
    visibility: hidden;
}








main{
    display: flex;
    justify-content: space-between;
}
main section{
    margin: 50px;
    align-self: center;
}
main .pages img{
    height: 70px;
    width: auto;
    border-radius: 15px;
}

main .pages{
    font-size: larger;
    text-align: center;
    color: var(--bgFont);
    
}
main .pages h3{
    margin-block: 10px;
    font-weight: 800;
    font-size: larger;
}
main .pages .IMGlink{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    justify-content: center;
}


.Navegar{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: var(--bgFont);
}
.Navegar p{
    font-weight: 900;
    margin-bottom: 20px;
}
.Navegar div{
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    justify-content: center;
}
.Navegar div img{
    margin-block:15px ;
}




#imgFOTO{
    cursor: crosshair;
    border-radius: 30%;
    border-style: solid;
    border-width: 20%;
    color: #ffffff;
    border: 4px solid #ffffff;
    max-height: 200px;
}












#logoSite{
    position: fixed;
    bottom: 0;
    width: 90px;
    right: 25px;
    bottom: 55px;
}
footer{
    color: var(--Foot);
    padding: 1%;
    position: absolute;
    bottom: 0;
    background-color: var(--BtnBg);
    inline-size: 100%;
}
footer u button a{
    color: var(--Foot);
    background-color: var(--BtnBg);
}
