*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --salmon:#ff8873;                
    --black: #000000;
    --white: #ffffff;
    --blue:#0000ff;
    --darkblue:#00009e;
}
.light-theme{
    --FontColor: #f8f8f8;
    --bg: #ff8873;
    --BtnFontColor: #000000;
    --BtnBg: #000000;
    --Foot: #000000;
}

 .dark-theme{
    --FontColor: #000000;
    --bg: #000000;
    --BtnFontColor: #000000;
    --BtnBg: #ff8873;
    --Foot: #ffffff;
 }















body{
    background-color: var(--bg);
}
nav{
    padding-block: 1%;
    padding-inline: 5%;
    font-size: 170%;
    display: flex;
    justify-content: center;
    background-color: var(--BtnBg);
}
.itemNav{
    display: flex;
    color: #ffffff;
    margin-inline: 1%;
    cursor: copy;
    background-color: #000000;
    border-radius: 20%;
    padding: 1vh;
    padding-inline: 2vh;
}
.itemNav:hover{
    background-color: #0000ff;
    padding: 0.5%;
    border-radius: 20%;
    transition-duration: 1s;
}
a{
    color: white;
    text-decoration: none;
}





.BtnTema{
    position: absolute;
    left: 2vh;
    font-size: 70%;
    color: #ffffff;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    background-color: #000043;
    cursor: pointer;
    padding: 0.5%;
}

.BtnTema:hover{
    transition-duration: 1s;
    background-color: #0000e4;
}
#lineT1{
    display: inline;
}
h2{
    color: var(--Foot);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin-top: 4vh;
}
#imgFOTO{
    cursor: crosshair;
    border-radius: 30%;
    border-style: solid;
    border-width: 20%;
    color: #ffffff;
}
img{
    cursor: cell;
    position: absolute;
    right: 10vh;
    height: 40vh;
    width: 40vh;
}
main{
    flex-direction:column;
}
main h3{
    margin-left: 10vh;
    font-size: 4vh;
}
.IMGlink{
    cursor: cell;
    position: absolute;
    left: 10vh;
    height: 10vh;
    width: 10vh;
}
#L1{
    cursor:cell;
}
#L2{
    border-radius: 30%;
    left: 25vh;
}
#L3{
    margin-top: 5%;
}
#L4{
    border-radius: 30%;
    margin-top: 5%;
    margin-left: 6.5%;
}
#L5{
    margin-top: 10%;
}
#L6{
    border-radius: 25%;
    margin-top: 10%;
    margin-left: 6.5%;
}
#L7{
    border-radius: 25%;
    margin-top: 15%;
    margin-left: 3%;
}

footer{
    color: var(--FontColor);
    padding: 1%;
    position: absolute;
    bottom: 0;
    background-color: var(--BtnBg);
    inline-size: 100%;
}
footer u button a{
    color: var(--FontColor);
    background-color: var(--BtnBg);
}
u a{
    color: #000000;
}
#IMGPrincipal{
    position: absolute;
    bottom: 10%;
    height: 7%;
    width: 6%;
}
#lgGoogle{
    cursor: help;
    position: absolute;
    height: 25%;
    width: 25%;
    left: 38%;
    border-radius: 10%;
}
#lgGoogle-1{
    position: absolute;
    height: 30%;
    width: 30%;
    left: 35%;
    margin-top: 7%;
}
